# The releng team is by default the owner of everything.
*             @cra-attestations/eclipsefdn-releng

# Otterdog related configurations are also owned by the security team.
/otterdog/**  @cra-attestations/eclipsefdn-security
